// Check the wiki for a full description of the configuration:
//   https://yalter.github.io/niri/Configuration:-Introduction


// -----------------------------------------------------------------------------
// Launch these at startup
// -----------------------------------------------------------------------------

// don't disable the noctalia line unless you're building a bespoke configuration
spawn-sh-at-startup "noctalia-shell"
spawn-at-startup "vesktop"

// ----------------------------------------------------------------------------
// Input devices (mouse, trackpad, keyboard, etc.)
// ----------------------------------------------------------------------------

input {
    keyboard {
        xkb {
            layout ""
            model ""
            rules ""
            variant ""
        }
        // Fast repeat rate and short delay
        repeat-delay 200
        repeat-rate 25
        track-layout "global"
    }
    touchpad {
        // tapping anywhere left-clicks
        tap
        
        // inverted scrolling
        natural-scroll
        
        // no mouse accel
        accel-profile "flat"
    }
    mouse {
        accel-profile "flat" 
    }
}

// ----------------------------------------------------------------------------
// Behaviors and aesthetics
// ----------------------------------------------------------------------------

// screenshots are placed into home folder with date-stamp
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

// remove client-side decorations (like close and minimize buttons) where possible
prefer-no-csd

overview {
    workspace-shadow {
        off
        //softness 80
        //spread 60
    }
}

gestures {
    // disable showing overview by moving mouse to top-left screen corner
    hot-corners {
        off
    }
}

cursor {
    xcursor-theme "catppuccin-frappe-dark-cursors"
    xcursor-size 22
    hide-when-typing
    hide-after-inactive-ms 60000
}

// disable showing keybinds at startup
hotkey-overlay { skip-at-startup; }

// necessary line for NixOS
environment { "NIXOS_OZONE_WL" "1"; }

// -----------------------------------------------------------------------------
// Layout
// -----------------------------------------------------------------------------

layout {
    gaps 4
    struts {
        left 2
        right 2
        top 2
        bottom 2
    }
    focus-ring {
        width 1.25
        active-color "#72e25096"

    }
    border {
        width 1
        urgent-color "#e44949ed"
        inactive-gradient angle=225 from="#1c68e2e6" relative-to="workspace-view" to="#bb38dff6"
    }
    background-color "transparent"
    shadow {
        on
        offset x=0.000000 y=5.000000
        softness 28
        spread 8
        draw-behind-window true
        color "#00000070"
    }
    tab-indicator {
        hide-when-single-tab
        place-within-column
        gap 4.000000
        width 4.000000
        length total-proportion=0.666670
        position "left"
        gaps-between-tabs 2.000000
        corner-radius 0.3
        urgent-color "#e44949ff"
        active-color "#ffffff"
        inactive-gradient angle=180 from="rgb(93, 44, 81)" relative-to="window" to="rgb(132, 142, 77)"
    }
    default-column-width {}
    preset-column-widths {
        proportion 0.333330
        proportion 0.500000
        proportion 0.666670
    }
    preset-window-heights {
        proportion 0.333330
        proportion 0.500000
        proportion 0.666670
        proportion 1.000000
    }
    center-focused-column "on-overflow"
    default-column-display "normal"
}

// -----------------------------------------------------------------------------
// keybinds
// -----------------------------------------------------------------------------


binds {
    
    // General
    Mod+Grave { show-hotkey-overlay; } 
    Mod+Alt+End { quit; }
    Mod+Tab { toggle-overview; }

    // Display scaling / zoom.
    Mod+Alt+Equal hotkey-overlay-title="Increase focused monitor scale" { spawn "output-scale" "+"; }
    Mod+Alt+Minus hotkey-overlay-title="Decrease focused monitor scale" { spawn "output-scale" "-"; }
    Mod+Alt+0     hotkey-overlay-title="Reset focused monitor scale" { spawn "output-scale" "1.0"; }

    // Window and Column Behavior
    Mod+Q repeat=false { close-window; }

    Mod+C hotkey-overlay-title="Center Column" { center-column; }
    Mod+Alt+C hotkey-overlay-title="Center Visible Columns" { center-visible-columns; }

    Mod+T hotkey-overlay-title="Toggle Tabbed Display" { toggle-column-tabbed-display; }

    Mod+X { toggle-window-floating; }
    Mod+Alt+X { switch-focus-between-floating-and-tiling; }

    Mod+BracketLeft { consume-or-expel-window-left; }
    Mod+BracketRight { consume-or-expel-window-right; }
    
    // Window and Column Sizes
    Mod+F       hotkey-overlay-title="Maximize column" { maximize-column; }
    Mod+Shift+F hotkey-overlay-title="Full screen window" { fullscreen-window; }
    Mod+Alt+F  hotkey-overlay-title="Fill empty column space" { expand-column-to-available-width; }
    
    Mod+R { switch-preset-column-width-back; }
    Mod+Alt+R { switch-preset-window-height-back; }
    Mod+Ctrl+R  hotkey-overlay-title="Reset window height" { reset-window-height; }
    
    Mod+Equal       hotkey-overlay-title="Increase column width" { set-column-width "+10%"; }
    Mod+Minus       hotkey-overlay-title="Decrease column width" { set-column-width "-10%"; }
    Mod+Shift+Equal hotkey-overlay-title="Increase window height" { set-window-height "+10%"; }
    Mod+Shift+Minus hotkey-overlay-title="Decrease window height" { set-window-height "-10%"; }
    
    // Window and Column Movement
    Mod+I hotkey-overlay-title="Focus previously focused window" { focus-window-previous; }

    Mod+WheelScrollDown       hotkey-overlay-title="Focus column right" { focus-column-right; }
    Mod+WheelScrollUp         hotkey-overlay-title="Focus column left" { focus-column-left; }
    Mod+Alt+WheelScrollDown  hotkey-overlay-title="Move column right" { move-column-right; }
    Mod+Alt+WheelScrollUp    hotkey-overlay-title="Move column left" { move-column-left; }

    // These are bound to both WASD and HJKL for use on either hand
    Mod+H { focus-column-left-or-last; }
    Mod+J { focus-window-or-workspace-down; }
    Mod+K { focus-window-or-workspace-up; }
    Mod+L { focus-column-right-or-first; }
    Mod+A { focus-column-left-or-last; }
    Mod+S { focus-window-or-workspace-down; }
    Mod+W { focus-window-or-workspace-up; }
    Mod+D { focus-column-right-or-first; }

    Mod+Alt+H { move-column-left; }
    Mod+Alt+J { move-column-to-workspace-down; }
    Mod+Alt+K { move-column-to-workspace-up; }
    Mod+Alt+L { move-column-right; }
    Mod+Alt+A { move-column-left; }
    Mod+Alt+S { move-column-to-workspace-down; }
    Mod+Alt+W { move-column-to-workspace-up; }
    Mod+Alt+D { move-column-right; }

    Mod+Shift+H { move-column-to-last; }
    Mod+Shift+J { move-window-down-or-to-workspace-down; }
    Mod+Shift+K { move-window-up-or-to-workspace-up; }
    Mod+Shift+L { move-column-to-first; }
    Mod+Shift+A { move-column-to-last; }
    Mod+Shift+S { move-window-down-or-to-workspace-down; }
    Mod+Shift+W { move-window-up-or-to-workspace-up; }
    Mod+Shift+D { move-column-to-first; }

    // Workspaces
    Mod+1 hotkey-overlay-title="Focus workspace (1-9)" { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }

    Mod+Shift+1 hotkey-overlay-title="Move window to workspace (1-9)" { move-window-to-workspace 1; }
    Mod+Shift+2 { move-window-to-workspace 2; }
    Mod+Shift+3 { move-window-to-workspace 3; }
    Mod+Shift+4 { move-window-to-workspace 4; }
    Mod+Shift+5 { move-window-to-workspace 5; }
    Mod+Shift+6 { move-window-to-workspace 6; }
    Mod+Shift+7 { move-window-to-workspace 7; }
    Mod+Shift+8 { move-window-to-workspace 8; }
    Mod+Shift+9 { move-window-to-workspace 9; }

    Mod+Ctrl+1 hotkey-overlay-title="Move column to workspace (1-9)" { move-column-to-workspace 1; }
    Mod+Ctrl+2 { move-column-to-workspace 2; }
    Mod+Ctrl+3 { move-column-to-workspace 3; }
    Mod+Ctrl+4 { move-column-to-workspace 4; }
    Mod+Ctrl+5 { move-column-to-workspace 5; }
    Mod+Ctrl+6 { move-column-to-workspace 6; }
    Mod+Ctrl+7 { move-column-to-workspace 7; }
    Mod+Ctrl+8 { move-column-to-workspace 8; }
    Mod+Ctrl+9 { move-column-to-workspace 9; }

    // Applications
    Mod+B                   hotkey-overlay-title="Browser" { spawn "firefox"; }
    Mod+Alt+B               { spawn "firefox" "-private-window"; }
    Mod+E                   hotkey-overlay-title="File Explorer 📂" { spawn "thunar"; }
    Mod+Alt+E               { spawn "thunar" "--name=dfr.floating.thunar"; }
    Mod+Ctrl+S              hotkey-overlay-title="Processes 📊" { spawn "ghostty" "-e" "btm"; }
    Mod+Return              hotkey-overlay-title="Terminal ⌨️" { spawn "ghostty" }
    Mod+Alt+V               hotkey-overlay-title="Clipboard 📝" { spawn "vicinae" "vicinae://launch/clipboard/history?toggle=true"; }
    Mod+Ctrl+E              hotkey-overlay-title="Emojis 🤠" { spawn "vicinae" "vicinae://launch/core/search-emojis?toggle=true"; }
    Mod+Space               hotkey-overlay-title="Launcher 🚀" { spawn "vicinae" "vicinae://toggle"; }

    // Notifications
    Mod+Delete allow-when-locked=true   hotkey-overlay-title="Clear Notifications 🔔" { spawn "noctalia-shell" "ipc" "call" "notifications" "clear"; }
    Mod+End allow-when-locked=true      hotkey-overlay-title="Dismiss Notifications 🔔" { spawn "noctalia-shell" "ipc" "call" "notifications" "dismissAll"; }
    Mod+Home allow-when-locked=true     hotkey-overlay-title="Toggle Do-Not-Disturb 🔕" { spawn "noctalia-shell" "ipc" "call" "notifications" "toggleDND"; }

    // Session & Shell
    Mod+Prior                       hotkey-overlay-title="Toggle Bar 🎩" { spawn "noctalia-shell" "ipc" "call" "bar" "toggle"; }
    Mod+Shift+Comma                 hotkey-overlay-title="Show Session Menu ⛓️" { spawn "noctalia-shell" "ipc" "call" "sessionMenu" "toggle"; }
    Mod+Shift+Return                  hotkey-overlay-title="Control Center 🏠" { spawn "noctalia-shell" "ipc" "call" "controlCenter" "toggle"; }
    Mod+Shift+Alt+Escape            hotkey-overlay-title="Suspend System 💤" { spawn "noctalia-shell" "ipc" "call" "sessionMenu" "lockAndSuspend"; }
    Mod+Alt+Escape                  hotkey-overlay-title="Lock Screen ⛓️" { spawn "noctalia-shell" "ipc" "call" "lockScreen" "lock"; }
    Mod+Alt+Comma                   hotkey-overlay-title="Settings 🗒️" { spawn "noctalia-shell" "ipc" "call" "settings" "toggle"; }
    Mod+Alt+Next                    hotkey-overlay-title="Select Wallpaper 🖼️" { spawn "noctalia-shell" "ipc" "call" "wallpaper" "toggle"; }
    Mod+Next allow-when-locked=true hotkey-overlay-title="Random Wallpaper " { spawn "noctalia-shell" "ipc" "call" "wallpaper" "random"; }
    Mod+Shift+Next                  hotkey-overlay-title="Toggle Wallpaper Cycling" { spawn "noctalia-shell" "ipc" "call" "wallpaper" "toggleAutomation"; }
    
    // Screen Capture
    Mod+Insert                      hotkey-overlay-title="Screen Recording 🎬" { spawn "noctalia-shell" "ipc" "call" "plugin:screen-recorder" "toggle"; }
    Mod+Print { screenshot show-pointer=false; }
    Mod+Alt+Print { screenshot-window write-to-disk=true; }
     
}


// -----------------------------------------------------------------------------
// Blur
// -----------------------------------------------------------------------------

blur {
    // off
    passes 3
    offset 3
    noise 0.02
    saturation 1.5
}

// -----------------------------------------------------------------------------
// Window & Layer rules
// -----------------------------------------------------------------------------

// make unfocused windows slightly transluscent
window-rule {
    match is-focused=false
    opacity 0.75
}

window-rule {
    match is-urgent=true
    opacity 1.000000
}

// set corner roundness (a value of 12 works well w/ noctalia screen corners at defaul 100%)
// corners can be set individually! check the docs
window-rule {
    geometry-corner-radius 3.6
    clip-to-geometry true
}

// global blur settings
window-rule {
  background-effect {
    blur true
    xray false
  }
}

// layer rules to make noctalia look better
layer-rule {
  match namespace="^noctalia-(background|launcher-overlay|dock)-.*$"
  background-effect {
    xray false
  }
}

// blurs overview wallpaper
layer-rule {
    match namespace="^noctalia-wallpaper*"
    place-within-backdrop true
}

layer-rule {
    match namespace="^quickshell$"
    place-within-backdrop true
}

// Make top and overlay layers use the regular blur (if enabled),
// while bottom and background layers keep using the efficient xray blur.
layer-rule {
    match layer="top"
    match layer="overlay"

    background-effect {
        xray false
    }
}

// Make floating windows use the regular blur (if enabled),
// while tiled windows keep using the efficient xray blur.
window-rule {
    match is-floating=true

    background-effect {
        xray false
    }
}

// Blur the background behind pop-up menus in Thunar
window-rule {
    match app-id="thunar"

    popups {
        geometry-corner-radius 12

        background-effect {
            blur true
        }
    }
}

// make certain sub-windows open floating, to prevent them from being full-height columns
// these may need tweaking; regex is difficult
window-rule {
    match app-id=r#"^xarchiver$"#
    match app-id=r#"^wev$"#
    match app-id=r#"^thunar$"# title=r#"^Rename .*$"#
    match app-id=r#"^thunar$"# title=r#"^File Operation .*$"#
    match app-id=r#"^thunar-bulk-rename$"#
    match app-id=r#"^thunar-volman$"#
    match app-id=r#"^gimp$"# title=r#"Preferences"#
    match app-id=r#"^net\.lutris\.Lutris$"#
    match app-id=r#"^net\.davidotek\.pupgui2$"#
    match app-id=r#"^org\.fcitx$"#
    match app-id=r#"^io\.github\.ilya_zlobintsev\.LACT$"#
    match app-id=r#"^XIVLauncher\.Core$"#

    open-floating true
}

// set the default proportions of certain floating windows
window-rule {
    match app-id=r#"^dfr\.floating\.thunar$"#
    default-column-width { proportion 0.33; }
    default-window-height { proportion 0.5; }
    open-floating true
}

// the following are all per-app window rules for easy use. some things open focused, some not, some are hidden from screencasting, etc.
// these can be changed pretty freely!

window-rule {
    match app-id="firefox$" title="^(Picture-in-Picture|Library|About Mozilla Firefox)$"
    match app-id="^steam"
    match title="Lutris"
    default-column-width { proportion 0.333330; }
    default-window-height { proportion 0.500000; }
    open-floating true
    open-focused false
}

window-rule {
    match app-id="^feh$"
    default-column-width { proportion 0.33; }
    default-window-height { proportion 0.33; }
    open-floating true
    open-focused true
}

window-rule {
    match app-id=r#"^com.mitchellh.ghostty$"#
    default-column-width { proportion 0.333330; }
    open-focused true
}

window-rule {
    match app-id="^bottom.desktop"
    default-column-width { proportion 0.333330; }
    default-window-height { proportion 0.333330; }
    open-focused false
}

window-rule {
    match title="^VSCodium"
    // default-column-width { proportion 0.333330; }
    open-focused true
}

window-rule {
    match title=r#"^Affinity$"#
    default-column-width { proportion 0.500000; }
    open-focused true
    block-out-from "screencast"
}

window-rule {
    match title="^Blender"
    // default-column-width { proportion 0.500000; }
    open-focused true
}

window-rule {
    match title="^Davinci"
    match title="^Firestorm"
    match title=r#"^gimp$"#

    open-maximized true
    open-focused true
    block-out-from "screencast"
}

window-rule {
    match title="^vencord"
    default-column-width { proportion 0.333330; }
    open-focused true
    block-out-from "screencast"
}

window-rule {
    match title=r#"^Proton$"#
    match app-id=r#"^fcha"#

    default-column-width { proportion 0.666670; }
    open-focused true
    block-out-from "screencast"
}


// -----------------------------------------------------------------------------
// animations
// -----------------------------------------------------------------------------

animations {
    slowdown 1.000000
    horizontal-view-movement {
        duration-ms 270
        curve "cubic-bezier" 0.260000 0.380000 0.300000 1.280000
    }
    overview-open-close {
        duration-ms 270
        curve "cubic-bezier" 0.260000 0.380000 0.300000 1.280000
    }
    window-close {
        duration-ms 270
        curve "cubic-bezier" 0.260000 0.380000 0.300000 1.280000
    }
    window-movement {
        duration-ms 270
        curve "cubic-bezier" 0.260000 0.380000 0.300000 1.280000
    }
    window-open {
        duration-ms 270
        curve "cubic-bezier" 0.260000 0.380000 0.300000 1.280000
    }
    window-resize {
        duration-ms 270
        curve "cubic-bezier" 0.260000 0.380000 0.300000 1.280000
    }
    workspace-switch {
        duration-ms 270
        curve "cubic-bezier" 0.260000 0.380000 0.300000 1.280000
    }
}

// this line generated from noctalia plugin - 'optional=true" added just in case something gets desynced
include optional=true "./../../.config/niri/animations/pixelate.kdl"
